---
import Blank from '../layouts/Blank.astro'
import '../styles/global.css'
---

<Blank title="About Me">

<h2>About Me</h2>

<section>
    <h2>In this world of digital artistry, I’ve found my niche.</h2>
    <p>My journey, as a <a href="/">freelance web designer Amsterdam</a>, started with a simple love for design and a curiosity for coding. It wasn't long before I realized that combining these skills with custom illustrations would set my work apart in the crowded field of web design.</p>
    
    <p>Each project I undertake is more than just a job; it’s a personal mission. I immerse myself in understanding my clients’ visions, ensuring that every website reflects their personality and meets their needs. This approach has taken me across Europe, from the bustling streets of Paris to the historic lanes of Rome, each city adding a new layer to my experience and inspiration.</p>

    <p>Back in Amsterdam, I find peace and creativity amidst its canals and architecture. This city, with its blend of historical charm and modern vibrancy, mirrors my approach to web design - a blend of the timeless and the innovative. I often spend days exploring its neighborhoods, each stroll fueling my creativity and bringing a fresh perspective to my work.</p>

    <p>As I code, design, and illustrate, I see each website come to life, a digital canvas that tells a story. My clients appreciate the uniqueness of my work, the way their websites stand out, not just as online spaces, but as extensions of their own stories and dreams. In this journey, I’ve not only honed my skills but also discovered the joy of bringing visions to life, one website at a time.</p>
</section>

<img src="/images/about-me.webp" alt="about me and Amsterdam">

<section>
    <h2>Why I Chose to Stay in Amsterdam</h2>
    <p>As my journey unfolded, I realized that Amsterdam is more than just a starting point; it's where my heart truly belongs. After traveling through Europe, experiencing its diverse cultures, and working with a myriad of clients, the allure of Amsterdam called me back. Its unique blend of art, history, and modern innovation resonates deeply with my approach to web design.</p>

    <p>Staying in Amsterdam wasn't just a decision; it was a commitment to a city that continuously fuels my creativity. Here, amidst the winding canals, historic buildings, and vibrant art scene, I find endless inspiration. The energy of the city, with its perfect mix of tranquility and dynamism, is reflected in every website I create.</p>

    <p>Deciding to base myself permanently in Amsterdam has allowed me to deepen my connections with the local community and culture. It's a place where my personal and professional life finds harmony. I'm not just a web designer; I'm an integral part of a city that thrives on innovation and creativity. In Amsterdam, I'm home, and here, my craft continues to flourish, inspired by the city's beauty and my own ever-evolving journey.</p>
</section>



</Blank>