---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Content from '../components/Content.astro'
import Hero from '../components/Hero.astro'
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
		<meta name="generator" content={Astro.generator} />
		<title>Freelance Web Designer Amsterdam</title>
	</head>

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-PQ6W3CM99K"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-PQ6W3CM99K');
	</script>

	<body>

	<Header/>

	<Hero/>

	<Content/>

	<Footer/>

	</body>
</html>



