---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
		<meta name="generator" content={Astro.generator} />
		<title>WordPress Website Amsterdam - I'm your WordPress Freelancer</title>
	</head>

    	<!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-PQ6W3CM99K"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-PQ6W3CM99K');
        </script>


	<body>

	<Header/>

	<section id="homepage-hero">
        <div class="homepage-wrapper">
    
        <div class="hero_left">
    
            <p class="site-description-up">FROM YOUR AMSTERDAM FREELANCER</p>
            <h1 class="site-description-down">WordPress Website Amsterdam</h1>
    
            <p class="site-description-bottom">
                Your WordPress webdesign for Amsterdam. I help you with your WordPress webdesign and offer some great solutions. Directly from Amsterdam.
            </p>
    
    
    
            <a id="hrefkon" href="#contact"><button id="kontaktbutton">Contact Me<span class="yellow">→</span></button></a>
        </div>
    
    
        <div class="hero_right">
            <img src="/images/wordpress-webdesign-amsterdam.svg" alt="" width="700px">
        </div>
    
    
        </div>
    </section>

	<section id="area1">

        <div class="wrapper-left">
    
        <h2>WordPress Web Design Amsterdam</h2>
        <p>Hi, I'm Lukasz. As a freelance web designer based in the vibrant city of Amsterdam, 
            I specialize in creating stunning, user-friendly websites using the powerful <strong>WordPress platform</strong>. 
            As a WordPress webdesigner my services are tailored to meet the unique needs of each client, ensuring that your online presence is not
             just visually appealing but also highly functional and optimized for search engines.</p>
        
        <h3>Custom WordPress Themes and Plugins</h3>
        <p>Understanding the importance of uniqueness, I offer <strong>custom WordPress themes</strong> and <strong>plugin 
            development</strong> to give your website a distinctive look and enhanced functionality. Whether you're 
            looking for a minimalist design or a complex e-commerce platform, as a WordPress webdesigner my expertise in <strong>HTML, CSS, PHP,</strong> 
            and <strong>JavaScript</strong> ensures that your vision becomes a reality.</p>

        <p>Ready to create a WordPress website or to work on your existing one? Just send me <a href="#contact">a message</a>.</p>
        
        <h3>Responsive and Mobile-Friendly WordPress Webdesign from Amsterdam</h3>
        <p>In today's mobile-first world, having a responsive website is crucial. I focus on creating <strong>mobile-friendly WordPress websites</strong> that provide an optimal viewing experience across all devices, ensuring that your Amsterdam-based business reaches a wider audience with my webdesign work.</p>
        
        <h3>SEO Optimization and Performance</h3>
        <p>Utilizing the latest SEO strategies, I ensure that your WordPress site ranks high in search engine results, making your business more visible to potential customers in and around Amsterdam. Additionally, I prioritize website performance, optimizing loading times and user experience.</p>
        
        <h3>Contact for WordPress Webdesign Services in Amsterdam</h3>
        <p>If you're in need of a <strong>professional WordPress webdesign</strong>, don't 
            hesitate to contact me. Let's work together to create a website that not only looks great but also drives business growth in Amsterdam.</p>
    
            <img src="/images/wordpress-amsterdam.webp" alt="wordpress webdesign in amsterdam with a picture of amsterdam">

            <h2>Expert WordPress Webdesign Problem Solving in Amsterdam</h2>
            <p>Are you facing challenges with your WordPress website? As a seasoned <strong>WordPress webdesigner</strong> from Amsterdam, I offer specialized WordPress services to tackle a wide range of issues. From plugin conflicts to performance optimization, I am here to ensure your website runs smoothly and efficiently.</p>
            
            <h3>Plugin Conflicts and Compatibility Issues</h3>
            <p>Struggling with <strong>plugin conflicts</strong> or compatibility issues? I can diagnose and resolve conflicts between plugins or themes, ensuring that your site functions seamlessly. If a plugin isn't compatible with the latest WordPress version, I can find or develop alternatives to keep your site up-to-date and secure.</p>
    
            <h3>Website Speed and Performance Optimization</h3>
            <p>Is your WordPress site slow to load? I specialize in <strong>speed optimization</strong>, reducing loading times through various techniques like caching, image optimization, and efficient coding. A faster website not only enhances user experience but also improves your search engine rankings.</p>
    
            <h3>Security Enhancements</h3>
            <p>Concerned about security? I implement robust security measures to protect your site from hacking and malware. Regular security audits, secure plugins, and strong authentication processes are part of my strategy to keep your WordPress site safe.</p>
    
            <h3>Responsive Design Issues</h3>
            <p>If your site isn’t displaying correctly on mobile devices, I can fix these <strong>responsive design issues</strong>. A mobile-friendly website is essential for reaching a broader audience and for better search engine rankings.</p>
    
            <h3>SEO Optimization Challenges</h3>
            <p>Struggling with SEO? As a WordPress webdesigner, development is not my only field of work. I can also enhance your site's SEO to improve visibility and draw more traffic. This includes keyword optimization, meta tags, and creating SEO-friendly content.</p>
    
            <h3>Customized Solutions</h3>
            <p>Every WordPress site is unique, and so are its challenges. I provide customized solutions to meet your specific needs. Whether it’s custom theme development or unique functionality implementation, I have the skills and experience to deliver.</p>
    
            <h3>Contact for Specialized WordPress Webdesign Help</h3>
            <p>For comprehensive WordPress solutions in Amsterdam, contact me. Together, we can overcome any challenge your WordPress site faces.</p>
 
            <h2 id="contact">Contact Me Here:</h2>

            <p>You can count on a response from me within the next 24 hours, tops.</p>

            <form action="https://formsubmit.co/lukasz.adms@gmail.com" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" required></textarea>
                </div>
                <div class="form-group">
                    <button type="submit">Submit →</button>
                </div>
            </form>


        </div>
    
    
        <div class="wrapper-right">
    
            
            <h4>Hi, I'm Lukasz. Your Amsterdam Webdesigner.</h4>
            <img id="port" src="/images/photo.jpg">
    
    
    
            <h4>Why working with me?</h4>
    
            <ul class="liste">
                <li>Working in Amsterdam and online</li>
                <li>+5 years of Web Design Experience</li>
                <li>Simples pricing, simple websites</li>
                <li>Modern Web Development</li>
            </ul>
    
            <h4>Contact </h4>
    
            <p>
            Just contact me <a href="#contact">here.</a>
    
            
    
    
        </div>
    
    </section>

	<Footer/>

	</body>
</html>



<style>



    #homepage-hero {
        padding: 20px 0;
        padding-top: 0;
        background-color: #f6f5f2;
      }  
    
    
    
      .homepage-wrapper {
        width: 1100px;
        margin: 0 auto;
        max-width: 100%;
        text-align: left;
        color: #08081b;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 16px;
        box-sizing: border-box; }
    
    .site-description-up {
        letter-spacing: 0.10em;
        font-size: 15px;
        margin-bottom: 0em; 
        color: #666461;
    }
    
    .site-description-down {
        font-weight: 800;
        color: #232323;
        font-size: 52px;
        line-height: 58px;
        margin-top: 0;
        margin-bottom: 0em; 
        padding-top: .3em;
        padding-bottom: .3em;
    }
    
    .site-description-bottom {
        font-size: 18px;
        line-height: 28px;
        margin-top: 0;
        margin-bottom: 0;
        color: #666461;
    }
    
    #hrefkon {
      display: block;
        margin-top: 24px;}
      
      #kontaktbutton {
        padding: 16px 22px;
        border: none;
        font-size: 1.2em;
        color: #fff;
        font-weight: 800;
        cursor: pointer;
        color: #232323;
        background-color: white;
        border: 3px solid #232323;
      }
      
    
      .hero_right {
        margin-top: 18px;
      }
    
    
    
    @media only screen and (min-width: 610px) { 
    
    
      .homepage-wrapper { 
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    
      .hero_right {
        width: 650px;
      }
    
       .site-description-down {
            font-size: 82px;
            line-height: 88px;
            padding-bottom: 8px;
            padding-top: 8px;
        }
    
        #homepage-hero {
            padding: 70px 0;
          }  
    
    
    }
    
    

    #port {
		border-radius: 50%;
	}


	.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #ffc800;
    color: white;
    padding: 10px 15px;
	border: 3px solid #232323;
	font-weight: 800;
    cursor: pointer;
	color: #333;
	font-family: Montserrat;
	padding: 16px 22px;
    font-size: 1.2em;
}

button:hover {
    background-color: #fff;
}

.form-group textarea {
    height: 150px; /* Increased height */
}
    
    
    
    
    </style>
