---
const Keyword = "Freelance Web Designer Amsterdam"
---

<section id="area1">

	<div class="wrapper-left">

	<h2>Freelance Web Designer Amsterdam</h2>

	</div>


	<div class="wrapper-right">

		
		<h4>Hi, I'm your Amsterdam Freelancer.</h4>
		<img id="port" src="/images/foto.webp" alt=`${Keyword}`>



		<h4>Why working with me?</h4>

		<ul class="liste">
			<li>Working in Amsterdam and online</li>
			<li>+5 years of Web Design Experience</li>
			<li>Simples pricing, simple websites</li>
			<li>Modern Web Development</li>
		</ul>

		<h4>Kontakt - {Keyword}</h4>

		<p>
		Just contact me here

		


	</div>

</section>


<style>

	#port {
		border-radius: 50%;
	}

</style>