---
const currentYear = new Date().getFullYear();
const currentMonth = new Date().getMonth() + 1;

---



<footer>
  <p>© {currentMonth}/{currentYear} Freelance Web Designer Amsterdam - All Rights Reserved.</p>
  
  <div class="footer-unten">
  <a href="/about">About Me</a>
  <a href="/">Privacy</a>
  </div>
  
  
  </footer>
  
  

<style>

footer {
    border-top: 3px solid #232323;
    background-color: #f6f5f2;
    text-align: center;
    padding: 16px 0; }

    footer p {
    color: #232323; }

    footer a {
    color: #232323;
    text-decoration: none;
    padding-left: 1em; }
  
  @media only screen and (max-width: 669px) {
    footer {
      padding: 2em;
} }
  

</style>

  
  
