---

---

<nav id="menu" itemscope itemtype="https://schema.org/SiteNavigationElement">


  <div class="nav_top">

    <svg width="50" height="50" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="34" height="34" rx="3" fill="#161616"/>
      <path d="M11.378 23.78C11.126 23.78 11 23.696 11 23.528V23.474C11 23.354 11.126 23.198 11.378 23.006C11.63 22.802 11.81 22.562 11.918 22.286L15.698 12.584C15.782 12.368 15.698 12.122 15.446 11.846C15.194 11.57 15.068 11.39 15.068 11.306V11.252C15.068 11.084 15.182 11 15.41 11H18.218C18.446 11 18.56 11.084 18.56 11.252V11.306C18.56 11.402 18.488 11.51 18.344 11.63C18.2 11.75 18.074 11.888 17.966 12.044C17.87 12.188 17.858 12.35 17.93 12.53L22.196 22.286C22.304 22.55 22.484 22.784 22.736 22.988C22.988 23.192 23.114 23.354 23.114 23.474V23.528C23.114 23.696 22.988 23.78 22.736 23.78H19.676C19.424 23.78 19.298 23.696 19.298 23.528V23.474C19.298 23.39 19.346 23.306 19.442 23.222C19.538 23.138 19.634 23.06 19.73 22.988C19.826 22.916 19.904 22.82 19.964 22.7C20.036 22.58 20.036 22.442 19.964 22.286L19.244 20.504H13.808L13.142 22.286C13.058 22.49 13.07 22.664 13.178 22.808C13.298 22.94 13.43 23.06 13.574 23.168C13.73 23.276 13.808 23.378 13.808 23.474V23.528C13.808 23.696 13.676 23.78 13.412 23.78H11.378ZM14.168 19.532H18.902L16.436 13.466L14.168 19.532Z" fill="white"/>
      </svg>
      

      <a class="logo" href="/">
      FREELANCER WEB DESIGNER AMSTERDAM
      </a>

    <div class="menu-icon" onclick="myFunction()">
    <span></span>
    </div>
  


  </div> <!---nav top-->

 
  <ul id="ulliste">
    <a href="/">Home</a>
    <a href="#contakt">Contact</a>

  </ul>

</nav>

<style>


svg {
  margin-left: 10px;
}


.logo {
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}


#nav-icon1 {
    z-index: 9999;
    width: 40px;
    height: 45px;
    position: absolute;
    top: 15px;
    right: 10px;
    
    margin: 1em;
    overflow: hidden;
  }
  
  #nav-icon1:hover {
    cursor: pointer;
  } 
  
  
  #nav-icon1 span {
    width: 100%;
    height: 5px;
    position: absolute;
    background: #f9c365;
    border-radius: 0px;
    opacity: 1;
    transition: all 0.7s ease;
    display: inline-block
  }
  
  
  #nav-icon1 span:nth-child(1) {
    top: 0px;
    width: 70%;
    transform: translateX(0px);
  }
  
  #nav-icon1 span:nth-child(2) {
    top: 18px;
    transform: rotate(0deg);
  }
  
  #nav-icon1 span:nth-child(3) {
    top: 36px;
    width: 70%;
    right: 0;
    transform: translateX(0px);
  }
  
  #nav-icon1 span:nth-child(4) {
    top: 18px;
    transform: rotate(0deg);
    opacity: 0;
  }
  
  #nav-icon1.open span:nth-child(1) {
    right: 0;
    transform: translateX(100px);
    background: white;
  }
  
  #nav-icon1.open span:nth-child(2) {
    transform: rotate(45deg);
    width: 89%;
    background: white;
  }
  
  #nav-icon1.open span:nth-child(3) {
    left: 0;
    transform: translateX(-100px);
    background: white;
  }
  
  #nav-icon1.open span:nth-child(4) {
    transform: rotate(-45deg);
    width: 89%;
    opacity: 1;
    background: white;
  }
  
  #nav-icon1 {
    display: none;
  }
  
  
  
  
 .logo_nav {
    text-decoration: none;
  }
  
  .logo {
    padding: 8px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  
  .logo {
    color: #323F4B;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: .7px;
    text-transform: uppercase;
    padding-left: 15px;
  }
  
  .logo span {
    color: #f9c365;
  } 
  

  .logo img {
    padding-right: 5px;
  }
  
  
  
  
  
  header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Jost';
        width: 1060px;
        max-width: 100%;
        margin: 0 auto;
    }
  
    header nav li {
        display: inline;
    }

    .menu_item.first { 
        padding-left: 0;
    }
  
    header nav li a {
        text-decoration: none;
        margin-left: 48px;
        color: #616e7c;
        text-decoration: none;
        font-size: 18px;
        font-family: Recoleta;
    }


    .nav_ul {
        padding-left: 0;
    }
    
    .nav_social {
      display: flex;
      align-items: center;
    }

    .social-img {
        color: #52606D;
        margin-left: 32px;
        display: block;
      }
        
  
      .nav_menu.open_menu {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f9c365;
        width: 100vw;
        height: 100vh;
        top: 0;
        overflow: hidden;
        z-index: 999;
      }
  
  
      .nav_menu.open_menu li { 
          display: block;
          padding-top: 1rem;
          text-align: center;
          font-size: 24px;
      }
  
      .nav_menu.open_menu li a  { 
        color: #1d1e1e;
        transform: translateX(300%);
        display: block;
        transition: all .3s ease-in-out;
        margin-left: 0px;
        font-weight: 600;
        letter-spacing: 0.03em;
      }
  
  
      .anotherclass { 
        transform: translateX(0%) !important;
        padding-left: 0;
      }
  
  
      @media only screen and (max-width: 970px) { 
  
        nav {
            display: none;
        }
  
        .nav_social {
            display: none;
        }
  
        #nav-icon1 {
            display: block;
        }
  
  
        header {
          display: block;
          margin-top: 16px !important;
        }
  
        .logo {
          justify-content: flex-start;
          padding-left: 15px;
      }
  
  
  
      }

</style>


<script>


  let navIcon = document.getElementById("nav-icon1");
  let menu = document.querySelector(".nav_menu");
  const allMenu = document.querySelectorAll('.menu_item')

  

  

  navIcon.addEventListener("click", function() {
  
  
  
    this.classList.toggle("open")
    menu.classList.toggle("open_menu")


    allMenu.forEach((element, i) => {
        setTimeout(() => {
            element.classList.toggle("anotherclass");
        }, i * 200);
      });


  });



</script>