---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'
const { title } = Astro.props;
---

<html lang="de">
	<head>
		<meta charset="utf-8" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
		<meta name="generator" content={Astro.generator} />
		
		<title>{title}</title>
	</head>

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-PQ6W3CM99K"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
	
		gtag('config', 'G-PQ6W3CM99K');
		</script>

		
	<body>
	 <Header/>


     <div class="wrapper">

     <slot /> <!-- your content is injected here -->

     </div>

		
	<Footer/>
	</body>
</html>



